*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
display:flex;


}
.image-container{

position: relative;
display: flex;
flex-direction: column;



}


.main-image{

width: 35vw;
height:100vh;
border:  5px black solid;
border-radius: 5px;

}

.image-container div{
    display: flex;
    color: white;
    position:absolute;
    font-size: 5rem;
    justify-content: center;
    padding: 15px;
    height: 15vh;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(0,0,0, 0.25);


}

.image-container p{

position: absolute;
bottom: 1rem;
right: 1rem;
color:white;


}

.hyperLink{


color:white;
font-style: oblique;


}



main{

display:flex;
flex-direction: column;
justify-content: center;
background-color: whitesmoke;


}
.main-container{

margin: 10px;



}



.main-container p{

margin: 50px 15px;
font-size: 25px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;

}

.main-container button{

border-radius: 5px;
background-color: #596D48;
color: white;
margin: 0px 50px;
padding: 10px 30px;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;



}

form{

padding: 20px;
margin-bottom: 30px;
background-color: white;



}

form h3{

margin: 20px 30px;

}

.row{
display:flex;
gap: 60px;
margin-bottom: 30px;

}

.row div{
display: flex;
flex-direction: column;
margin: 0px 30px;

}

.row input{

height: 30px;
border-radius: 5px;
border: 1.5px solid #E5E7EB; 


}

.row input:focus{

    border:4px solid green;
    box-shadow: 1px 1px 3px black;
    
}

.row.password div:invalid{

    border:5px solid red;
    box-shadow: 1px 1px 3px black;


}


